/* GENERIC SETTINGS */
body {
    background-color: #0c0c0c;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #ffffff;
}

body::after {
    content: "";
    background-image: url(../images/background-main.jpg);
    filter: grayscale(100%);
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

/* NAVBAR */
nav {
    height: 75px;
    line-height: 75px;
    font-weight: 300;
}

nav .brand-logo {
    margin-top: 5px;
}

nav .fa-music {
    font-size: 30px;
    margin-right: 5px;
    margin-top: 25px;
}

nav ul a {
    text-transform: uppercase;
}

nav ul a:hover {
    background-color: #47126F;
}

.dropdown-content li > a {
    color: black;
    text-transform: uppercase;
}

/* SIDENAV */

.sidenav .user-view .circle {
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.sidenav p {
    font-size: 1.2rem;
}

.sidenav li a {
    text-transform: uppercase;
    font-weight: 300;
    transition: 0.3s ease;
}

.sidenav li a:hover {
    background-color: #47126F;
}

/* MAIN BODY */
main {
    flex: 1 0 auto;
}

/* FOOTER */

footer .container {
    font-weight: 100;
    width: 90%;
    max-width: 100vw;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #47126F;
    transition: 0.3s ease;
}

.page-footer {
    padding-top: 0;
}

/* INTRO PAGE */

.intro-headers > h1 {
    font-weight: 700;
    text-transform: uppercase;
}

.intro-headers > h2 {
    font-weight: 100;
    font-size: 1.7rem;
    line-height: 1.2;
}

.intro-headers > h1, .intro-headers > h2 {
    letter-spacing: 2px;
}

.intro-form {
    margin-top: 12%;
}

.intro-form .input-field > label {
    color: #ffffff;
}

.intro-form .input-field .prefix.active {
    color: #7E7E7E;
}

.intro-form input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #7E7E7E;
    box-shadow: 0 1px 0 0 #7E7E7E;
}

.intro-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label {
    color: #7E7E7E;
}

.intro-form input[type="text"] {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.intro-form input.valid[type="text"]:not(.browser-default) {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}

.intro-form button {
    background-color: black;
}

.intro-form .btn-large:hover {
    background-color: #47126F;
}

/* REGISTER FORM */

.register-form h5 {
    font-weight: 300;
    text-decoration: underline;
}

.register-form .input-field > label {
    color: #ffffff;
}

.register-form input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #7E7E7E;
    box-shadow: 0 1px 0 0 #7E7E7E;
}

.register-form textarea.materialize-textarea {
    color: #ffffff;
}

.register-form textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #7E7E7E;
    box-shadow: 0 1px 0 0 #7E7E7E;
}

.register-form textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #7E7E7E;
}


.register-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label {
    color: #7E7E7E;
}

.register-form input[type="text"] {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.register-form input.valid[type="text"]:not(.browser-default) {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}

.form-checkbox-text {
    color: #ffffff;
}

.register-form [type="checkbox"]:checked + span:not(.lever)::before {
    border-right: 2px solid #47126F;
    border-bottom: 2px solid #47126F;
}

.register-form .btn {
    background-color: black;
}

.register-form .btn:hover {
    background-color: #47126F;
}

.other_inst {
    margin-top: 0;
}

/* LOGIN FORM */

.login-form .input-field > label {
    color: #ffffff;
}

.login-form .input-field .prefix.active {
    color: #7E7E7E;
}

.login-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.login-form input[type="password"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #7E7E7E;
    box-shadow: 0 1px 0 0 #7E7E7E;
}

.login-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
.login-form input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
    color: #7E7E7E;
}

.login-form input[type="text"], .login-form input[type="password"] {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.login-form input.valid[type="text"]:not(.browser-default),
.login-form input.valid[type="password"]:not(.browser-default) {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}

.login-form .btn {
    background-color: black;
}

.login-form .btn:hover {
    background-color: #47126F;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    nav .fa-music {
        margin-top: 8px;
    }

    .intro-headers > h2 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    nav .brand-logo {
        margin-left: 10px;
    }
}

