{% extends 'base.html' %}
{% block content %}

<!-- About Page -->
<div class="row about">

    <h3 class="col s12 center-align">We are looking to unite all singer/songwriters and musicians all over the world.</h3>

    <p class="col 12 center-align statement">
        Right now, we are a meeting place for people to share their creative ideas, 
        but soon we will be expanding our services and features. Here are some of things we will be bringing in a near future:
    </p>

    <div class="col s12 xl3 center-align">
        <i class="fas fa-server"></i>
        <p>Server space so that you can store your files (i.e. wave files, music sheets, videos).</p>
    </div>

    <div class="col s12 xl3 center-align">
        <i class="fas fa-microphone"></i>
        <p>An integrated DAW so that you can record, edit and mix your songs on our cloud. No need to upload anything.</p>
    </div>

    <div class="col s12 xl3 center-align">
        <i class="fas fa-user-graduate"></i>
        <p>Seminars with renown composers, musicians, audio engineers and producers to boost your creative and technical skills.</p>
    </div>

    <div class="col s12 xl3 center-align">
        <i class="fas fa-bolt"></i>
        <p>Perform on virtual concerts with your Jammers friends.</p>
    </div>


    <h5 class="col s12 center-align stickaround" >So stick around and evolve with us!</h5>
    
</div>

{% endblock %}