{% extends 'base.html' %}
<!-- Add 'active-link' class when link is selected -->
{% block active_link_collaborators %}active-link{% endblock %}

{% block content %}

<!-- Collaborators Page -->

<div class="row collaborators">
    {% for collab in collabs %}
        <div class="col s12 m6 xl4">
            <div class="card medium">
                <a href="{{ url_for('dashboard_view_user', username=user.username, profile_id=collab._id) }}" aria-label="View user profile">
                    <div class="card-image">
                        <img src="{{ url_for('get_profile_pic', filename=collab.profile_pic) }}" alt="{{ collab.username }} profile picture">
                    </div>
                </a>
                <div class="card-content">
                    <h4>{{ collab.username }}</h4>
                </div>
                <div class="card-action">
                    <a class="modal-trigger" href="#modalMessage{{ collab.username }}" aria-label="Message user">MESSAGE</a>
                    <a class="modal-trigger" href="#modalRemove{{ collab.username }}" aria-label="Remove user">REMOVE</a>
                </div>
            </div>
        </div>

        <!-- Modal For Message Button-->
        <div id="modalMessage{{ collab.username }}" class="modal">
            <form method="POST" action="{{ url_for('send_message', username=session['user'], profile_id=collab._id) }}">
                <div class="modal-content">
                    <label for="sendMessage{{ collab.username }}"></label>
                    <textarea name="sendMessage" id="sendMessage{{ collab.username }}" class="modal-box autoResize" cols="30" rows="10"
                        contenteditable></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn modal-close" type="submit" aria-label="Send message">Send Message</button>
                </div>
            </form>
        </div>

        <!-- Modal For Remove Button-->
        <div id="modalRemove{{ collab.username }}" class="modal">
                <div class="modal-content">
                    <p class="modal-remove-message">Are you sure you want to want to remove '{{ collab.username }}' from your collaborators list?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn modal-close" type="submit" aria-label="Cancel">Cancel</button>
                    <a class="btn modal-close" href="{{ url_for('remove_collaborator', username=user.username, profile_id=collab._id) }}" aria-label="Delete user">
                        Delete
                    </a>
                </div>
        </div>
    {% endfor %}
</div>
{% endblock %}