{% extends 'base.html' %}
{% block content %}

<div class="row user_profile">
    <div class="col m6">
        <img src="{{ url_for('get_profile_pic', filename=profile.profile_pic) }}" alt="{{ profile.username }} Profile Picture" class="m6">
        <a class="btn add-button"><i class="fas fa-plus"></i>Add to Collaborators</a>
    </div>
    <div class="col m6">
        <h5>{{ profile.username }}</h5>
        <p><strong>Name:</strong> <span class="p_contents">{{profile.first_name}} {{ profile.last_name }}</span></p>
        <p><strong>City:</strong> <span class="p_contents">{{ profile.city|capitalize() }}</span></p>
        <p><strong>Country:</strong> <span class="p_contents">{{ profile.country|capitalize() }}</span></p>
        <p>
            <strong>Instruments: </strong>
            {% for instrument in profile.instruments %}
                {% if loop.index != loop.length %}
                    <span class="p_contents">{{ instrument|capitalize() }}, </span>
                {% else %}
                    <span class="p_contents">{{ instrument|capitalize() }}</span>
                {% endif %}
            {% endfor %}
        </p>
        <p><strong>About:</strong> <span class="p_contents">{{ profile.about }}</span></p>
        <div class="button-container">
            <a class="btn btn-message"><i class="fas fa-envelope"></i>Message</a>
            <a class="btn"><i class="fas fa-star"></i>Feedback</a>
        </div>
    </div>
</div>

{% endblock %}