{% extends 'base.html' %}
{% block content %}

<div class="row user_profile">
    <div class="col m6">
        <img src="{{ url_for('get_profile_pic', filename=profile.profile_pic) }}" alt="{{ profile.username }} Profile Picture" class="m6">
        {% if profile.username in collaborators.collaborations %}
            <a class="btn add-button" href="{{ url_for('remove_collaborator', profile_id=profile._id) }}" >
                <i class="fas fa-minus"></i>Remove from Collaborators
            </a>
        {% else %}
            <a class="btn add-button" href="{{ url_for('add_collaborator', profile_id=profile._id) }}">
                <i class="fas fa-plus"></i>Add to Collaborators
            </a>
        {% endif %}
    </div>
    <div class="col m6">
        <h5>{{ profile.username }}</h5>
        <p><strong>Name:</strong> <span class="p_contents">{{profile.first_name}} {{ profile.last_name }}</span></p>
        <p><strong>City:</strong> <span class="p_contents">{{ profile.city|capitalize() }}</span></p>
        <p><strong>Country:</strong> <span class="p_contents">{{ profile.country|capitalize() }}</span></p>
        <p>
            <strong>Instruments: </strong>
            {% for instrument in profile.instruments %}
                {% if loop.index != loop.length %}
                    <span class="p_contents">{{ instrument|capitalize() }}, </span>
                {% else %}
                    <span class="p_contents">{{ instrument|capitalize() }}</span>
                {% endif %}
            {% endfor %}
        </p>
        <p><strong>About:</strong> <span class="p_contents">{{ profile.about }}</span></p>
        <div class="button-container">
            <a class="btn btn-message modal-trigger" href="#modalMessage"><i class="fas fa-envelope"></i>Message</a>
            <a class="btn modal-trigger" href="#modalFeedback"><i class="fas fa-star"></i>Feedback</a>
        </div>
    </div>

    <!-- Modal For Message Button-->
    <div id="modalMessage" class="modal">
        <form method="POST" action="{{ url_for('send_message', profile_id=profile._id) }}">
        <div class="modal-content">
            <label for="sendMessage"></label>
            <textarea name="sendMessage" id="sendMessage" class="modal-box autoResize" cols="30" rows="10" contenteditable></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn modal-close" type="submit">Send Message</button>
        </div>
        </form>
    </div>

    <!-- Modal For Feedback Button -->
    <div id="modalFeedback" class="modal">
        <form method="POST" action="{{ url_for('post_feedback', profile_id=profile._id) }}">
        <div class="modal-content">
            <label for="postFeedback"></label>
            <textarea name="postFeedback" id="postFeedback" class="modal-box autoResize" cols="30" rows="10" contenteditable></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn modal-close" type="submit">Post Feedback</button>
        </div>
        </form>
    </div>
</div>

{% if profile.feedback %}
<div class="row feedback-card">
    <h4 class="col s12">Feedback</h4>
    {% for feedback in profile.feedback %}
        <div class="col s12">
            <h5>{{ feedback.from_user }} ({{ feedback.date }})</h5>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{ url_for('get_profile_pic', filename=feedback.from_user_img) }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ feedback.feedback_msg }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}