{% extends 'base.html' %}

{% block active_link_messages %}active-link{% endblock %}

{% block archived_messages %}
    <li><a href="{{ url_for('view_archived') }}" class="white-text">View Archived Messages</a></li>
    <div class="divider"></div>
{% endblock %}

{% block content %}
<div class="row card-message">
    {% for message in messages %}
        <div class="col s12">
            <div class="card horizontal">
                {% if message.is_new %}
                    <div class="message-image unread">
                        <img src="{{ url_for('get_profile_pic', filename=message.from_user_image) }}" class="circle">
                    </div>
                {% else %}
                    <div class="message-image">
                        <img src="{{ url_for('get_profile_pic', filename=message.from_user_image) }}" class="circle">
                    </div>
                {% endif %}
                <div class="card-stacked">
                    <div class="card-content">
                        <p>From: {{ message.from_user }}</p>
                        <p>{{ message.message_list[0]['message'] }}</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="{{ url_for('view_message', message_id=message._id) }}" class="btn view-button">Reply</a>
                        <a href="{{ url_for('archive_message', message_id=message._id) }}" class="btn">Archive</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}