{% extends 'base.html' %}
{% block content %}
<div class="row card-message">
    {% for message in messages %}
        <div class="col s12">
            <div class="card horizontal">
                <div class="message-image">
                    <img src="{{ url_for('get_profile_pic', filename=message.from_user_image) }}" class="circle">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ message.message }}</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="#" class="btn view-button">Reply</a>
                        <a href="#" class="btn">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}