{% extends 'base.html' %}
{% block active_link_messages %}active-link{% endblock %}
{% block content %}
<div class="row">
    <form class="col s12 reply-form" method="POST" action="{{ url_for('view_message', message_id=messages._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen prefix"></i>
                <textarea id="send_message" name="send_message" class="materialize-textarea" required></textarea>
                <label for="send_message">Reply</label>
            </div>
        </div>
        <div class="col s12 left-align">
            <button type="submit" class="btn">
                Send
            </button>
        </div>
    </form>
</div>

<div class="row card-message">
    {% for message in messages['message_list']|reverse() %}
        <div class="col s12">
            <div class="card horizontal">
                <div class="message-image">
                    {% if message.user == messages.to_user %}
                        <img src="{{ url_for('get_profile_pic', filename=messages.to_user_image) }}" class="circle">
                    {% else %}
                        <img src="{{ url_for('get_profile_pic', filename=messages.from_user_image) }}" class="circle">
                    {% endif %}
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>From: {{ message.user }}</p>
                        <p>Date: {{ message.date }}</p>
                        <br>
                        <p class="user-message">{{ message.message }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}