{% extends 'base.html' %}
<!-- Add 'active-link' class when link is selected -->
{% block active_link_messages %}active-link{% endblock %}

<!-- Page to reply to a message -->

{% block content %}
<div class="row">
    <form class="col s12 reply-form" method="POST" action="{{ url_for('view_message', message_id=message._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen prefix"></i>
                <textarea id="send_message" name="send_message" class="materialize-textarea" required></textarea>
                <label for="send_message">Reply</label>
            </div>
        </div>
        <div class="col s12 left-align">
            <button type="submit" class="btn" aria-label="Reply to message">
                Send
            </button>
        </div>
    </form>
</div>

<div class="row card-message">
    {% for msg in message['message_list']|reverse() %}
        <div class="col s12">
            <div class="card horizontal">
                <div class="message-image">
                    {% if msg.user == message.to_user %}
                        <img src="{{ url_for('get_profile_pic', filename=message.to_user_image) }}" alt="{{ message.to_user }} profile picture" class="circle">
                    {% else %}
                        <img src="{{ url_for('get_profile_pic', filename=message.from_user_image) }}" alt="{{ message.from_user }} profile picture" class="circle">
                    {% endif %}
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>From: {{ msg.user }}</p>
                        <p>Date: {{ msg.date }}</p>
                        <br>
                        <p class="user-message">{{ msg.message }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}